name: Github Actions with 3 Musketeers
on:
  push:
    branches:
      - master
jobs:
  dockerbuildandpush:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup - Checkout"
        uses: actions/checkout@v2.1.0
      - name: "Docker Build and Push"
        working-directory: "."
        run: make build
        env:
          DOCKER_HUB_PASSWORD: "${{ secrets.DOCKER_HUB_PASSWORD }}"
      - name: Set SHA short value
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Create Pull request comment
        uses: mshick/add-pr-comment@v1
        with:
          repo-token: "${{ secrets.GH_TOKEN_FOR_3M }}"
          message: Well done! Image Pushed 3m-rocks:${{ steps.vars.outputs.sha_short}}!!